trigger:
- main

pool:
  name: self-hosted-linux

variables:
  IMAGE_NAME: ibrahimhefny/voting-app

stages:
- stage: CI
  displayName: Continuous Integration
  jobs:
  - job: BuildAndPush
    displayName: Build + Push (Skip SonarQube for now)
    steps:

    - checkout: self

    # TODO: Fix SonarQube version and re-enable analysis

    # ======================
    # Build & Push Docker
    # ======================
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(IMAGE_NAME)
        dockerfile: '**/Dockerfile'
        containerRegistry: 'dockerhub-connection'
        tags: |
          latest