trigger:
- none

parameters:
- name: action
  type: string
  default: apply
  values:
  - apply
  - destroy

- name: environment
  type: string
  default: nonprod
  values:
  - nonprod
  - prod

variables:
  tfvarsFile: '${{ parameters.environment }}.tfvars'

pool:
  name: self-hosted-linux

stages:

# =========================
# Stage 0: SonarQube
# =========================
- stage: SonarQubeAnalysis
  jobs:
  - job: sonar_scan
    steps:
    - script: |
        export PATH=$PATH:/opt/sonar-scanner/bin
        sonar-scanner \
          -Dsonar.projectKey=hello-app \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://localhost:9000 \
          -Dsonar.login=sqp_1c5ac0dc78d47195a0954e621d7cb0c447e645a9
      displayName: Run Sonar Scan


# =========================
# Stage 1: Plan
# =========================
- stage: InitAndPlan
  jobs:
  - job: terraform_plan
    variables:
    - group: aws-credentials
    steps:

    - script: terraform version
      displayName: Check Terraform

    - script: |
        cd terraform
        terraform init -input=false
        terraform validate
        terraform plan -var-file=$(tfvarsFile) -out=tfplan
      displayName: Init + Validate + Plan
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

    - publish: terraform
      artifact: terraform-files


# =========================
# Stage 2: Apply
# =========================
- stage: Apply
  dependsOn: InitAndPlan
  condition: and(succeeded(), eq('${{ parameters.action }}', 'apply'))
  jobs:
  - job: terraform_apply
    variables:
    - group: aws-credentials
    steps:

    - download: current
      artifact: terraform-files

    - script: |
        cd $(Pipeline.Workspace)/terraform-files
        terraform init
        terraform apply -auto-approve tfplan
      displayName: Terraform Apply
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)


# =========================
# Stage 3: Destroy
# =========================
- stage: Destroy
  dependsOn: InitAndPlan
  condition: and(succeeded(), eq('${{ parameters.action }}', 'destroy'))
  jobs:
  - job: terraform_destroy
    variables:
    - group: aws-credentials
    steps:

    - script: |
        cd terraform
        terraform init
        terraform destroy -var-file=$(tfvarsFile) -auto-approve
      displayName: Terraform Destroy
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
