trigger:
- none

parameters:
- name: action
  type: string
  default: apply
  values:
  - apply
  - destroy

- name: environment
  type: string
  default: nonprod
  values:
  - nonprod
  - prod

variables:
  tfvarsFile: '${{ parameters.environment }}.tfvars'

pool:
  name: self-hosted-linux

stages:

# =========================
# Stage 0: SonarQube
# =========================
- stage: SonarQubeAnalysis
  jobs:
  - job: sonar_scan
    steps:
    - script: |
        export PATH=$PATH:/opt/sonar-scanner/bin
        sonar-scanner \
          -Dsonar.projectKey=hello-app \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://localhost:9000 \
          -Dsonar.login=sqp_1c5ac0dc78d47195a0954e621d7cb0c447e645a9
      displayName: Run Sonar Scan


# =========================
# Stage 1: Terraform Apply
# =========================
- stage: Terraform
  jobs:
  - job: terraform_job
    variables:
    - group: aws-credentials
    steps:

    - script: terraform version
      displayName: Check Terraform

    - script: |
        cd terraform
        terraform init
      displayName: Terraform Init
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

    - script: |
        cd terraform
        terraform validate
      displayName: Terraform Validate

    - script: |
        cd terraform
        terraform plan -var-file=$(tfvarsFile)
      displayName: Terraform Plan
      condition: eq('${{ parameters.action }}', 'apply')
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

    - script: |
        cd terraform
        terraform apply -var-file=$(tfvarsFile) -auto-approve
      displayName: Terraform Apply
      condition: eq('${{ parameters.action }}', 'apply')
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

    - script: |
        cd terraform
        terraform destroy -var-file=$(tfvarsFile) -auto-approve
      displayName: Terraform Destroy
      condition: eq('${{ parameters.action }}', 'destroy')
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
