trigger:
- none

parameters:
- name: action
  type: string
  default: apply
  values:
  - apply
  - destroy

- name: environment
  type: string
  default: nonprod
  values:
  - nonprod
  - prod

variables:
  tfvarsFile: '${{ parameters.environment }}.tfvars'

pool:
  name: self-hosted-linux

stages:


# =========================
# Stage 1: Terraform Plan
# =========================
- stage: Plan
  jobs:
  - job: terraform_plan
    variables:
    - group: aws-credentials
    steps:

    - script: terraform version
      displayName: Terraform Version

    - script: |
        cd terraform
        terraform init -input=false
        terraform validate
        terraform plan -var-file=$(tfvarsFile) -out=tfplan
      displayName: Terraform Init + Plan
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

    - publish: terraform/tfplan
      artifact: tfplan


# =========================
# Stage 2: Terraform Apply
# =========================
- stage: Apply
  dependsOn: Plan
  condition: and(succeeded(), eq('${{ parameters.action }}','apply'))
  jobs:
  - job: terraform_apply
    variables:
    - group: aws-credentials
    steps:

    - download: current
      artifact: tfplan

    - script: |
        cd terraform
        terraform init -input=false
        cp $(Pipeline.Workspace)/tfplan/tfplan .
        terraform apply -auto-approve tfplan
      displayName: Terraform Apply
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)


# =========================
# Stage 3: Terraform Destroy
# =========================
- stage: Destroy
  dependsOn: Plan
  condition: and(succeeded(), eq('${{ parameters.action }}','destroy'))
  jobs:
  - job: terraform_destroy
    variables:
    - group: aws-credentials
    steps:

    - script: |
        cd terraform
        terraform init -input=false
        terraform destroy -var-file=$(tfvarsFile) -auto-approve
      displayName: Terraform Destroy
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
