trigger: none

pool:
  vmImage: ubuntu-latest

variables:
  AWS_REGION: us-east-1
  CLUSTER_NAME: nonprod-eks

stages:
- stage: Platform
  jobs:
  - job: InstallPlatform
    steps:

    - task: AWSCLI@1
      displayName: Update kubeconfig
      inputs:
        awsCredentials: 'aws-service-connection'
        regionName: '$(AWS_REGION)'
        awsCommand: 'eks'
        awsSubCommand: 'update-kubeconfig'
        awsArguments: '--name $(CLUSTER_NAME)'

    - script: |
        curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      displayName: Install Helm

    - script: |
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm repo update
        helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
          --namespace ingress-nginx \
          --create-namespace
      displayName: Install Ingress

    - script: |
        kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -
        kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
        kubectl wait --for=condition=available deployment/argocd-server \
          -n argocd --timeout=300s
      displayName: Install ArgoCD