trigger:
- main

pool:
  name: self-hosted-linux

variables:
  IMAGE_NAME: ibrahimhefny/voting-app

stages:
- stage: CI
  displayName: Continuous Integration
  jobs:
  - job: BuildAndScan
    displayName: Sonar + Build + Push
    steps:

    - checkout: self

    # ======================
    # 1️⃣ Prepare SonarQube
    # ======================
    - task: SonarQubePrepare@7
      inputs:
        SonarQube: 'sonarqube-connection'
        scannerMode: 'CLI'
        configMode: 'manual'
        cliProjectKey: 'voting-app'
        cliProjectName: 'voting-app'
        cliSources: '.'
        # REMOVED branch properties - only available in Developer Edition+

    # ======================
    # 2️⃣ Run Sonar Analysis
    # ======================
    - task: SonarQubeAnalyze@7

    # ======================
    # 3️⃣ Publish Sonar Results
    # ======================
    - task: SonarQubePublish@7
      inputs:
        pollingTimeoutSec: '300'

    # ======================
    # 4️⃣ Build & Push Docker
    # ======================
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        command: buildAndPush
        repository: $(IMAGE_NAME)
        dockerfile: '**/Dockerfile'
        containerRegistry: 'dockerhub-connection'
        tags: |
          latest