apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
stringData:
  MONGO_URI: mongodb+srv://ibrahimmohefny_db_user:IqDHLeopxGh2Jy6O@cluster0.vg2akf4.mongodb.net/?appName=Cluster0

