name: Terraform EKS

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        default: nonprod
        type: choice
        options:
          - nonprod
          - prod
      action:
        description: "Terraform Action"
        required: true
        default: apply
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'apply' }}
        run: |
          cd terraform
          terraform plan -var-file=${{ github.event.inputs.environment }}.tfvars

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: |
          cd terraform
          terraform apply -auto-approve -var-file=${{ github.event.inputs.environment }}.tfvars

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: |
          cd terraform
          terraform destroy -auto-approve -var-file=${{ github.event.inputs.environment }}.tfvars

      - name: Terraform Import (one-time fix)
        run: |
          cd terraform
          terraform import module.eks.aws_cloudwatch_log_group.this /aws/eks/nonprod-eks/cluster || true
          terraform import module.iam.aws_iam_role.eks_cluster_role nonprod-eks-cluster-role || true
          terraform import module.iam.aws_iam_role.eks_node_role nonprod-eks-node-role || true

